USE [master]
GO
/****** Object:  Database [QuanLyBida]    Script Date: 2026/04/28 23:11:55 ******/
CREATE DATABASE [QuanLyBida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBida', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyBida.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyBida_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyBida_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBida]
GO
/****** Object:  User [thungan_user]    Script Date: 2026/04/28 23:11:55 ******/
CREATE USER [thungan_user] FOR LOGIN [thungan_login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [thukho_user]    Script Date: 2026/04/28 23:11:55 ******/
CREATE USER [thukho_user] FOR LOGIN [thukho_login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [quanly_user]    Script Date: 2026/04/28 23:11:55 ******/
CREATE USER [quanly_user] FOR LOGIN [quanly_login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin_user]    Script Date: 2026/04/28 23:11:55 ******/
CREATE USER [admin_user] FOR LOGIN [admin_login] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ThuNganRole]    Script Date: 2026/04/28 23:11:55 ******/
CREATE ROLE [ThuNganRole]
GO
/****** Object:  DatabaseRole [ThuKhoRole]    Script Date: 2026/04/28 23:11:55 ******/
CREATE ROLE [ThuKhoRole]
GO
/****** Object:  DatabaseRole [QuanLyRole]    Script Date: 2026/04/28 23:11:55 ******/
CREATE ROLE [QuanLyRole]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 2026/04/28 23:11:55 ******/
CREATE ROLE [AdminRole]
GO
ALTER ROLE [ThuNganRole] ADD MEMBER [thungan_user]
GO
ALTER ROLE [ThuKhoRole] ADD MEMBER [thukho_user]
GO
ALTER ROLE [QuanLyRole] ADD MEMBER [quanly_user]
GO
ALTER ROLE [AdminRole] ADD MEMBER [admin_user]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DiemKhachHang]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----FUNCTION-----

--1.Tính điểm khách hàng thân thiết
CREATE FUNCTION [dbo].[fn_DiemKhachHang](@MaKhach CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Diem INT
    SELECT @Diem = (SoHoaDon * 10) + (TongChi / 100000)
    FROM Khach
    WHERE MaKhach = @MaKhach
    RETURN @Diem
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KiemTraKhuyenMaiKhaDung]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--4.Kiểm tra khuyến mãi khả dụng
CREATE FUNCTION [dbo].[fn_KiemTraKhuyenMaiKhaDung](@MaKM CHAR(10))
RETURNS BIT
AS
BEGIN
    DECLARE @Result BIT = 0
    
    IF EXISTS (
        SELECT 1 
        FROM KhuyenMai 
        WHERE MaKM = @MaKM 
        AND GETDATE() BETWEEN NgayBatDau AND NgayKetThuc
    )
    BEGIN
        SET @Result = 1
    END
    
    RETURN @Result
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoLuongTon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.Kiểm tra số lượng tồn kho
CREATE FUNCTION [dbo].[fn_SoLuongTon](@MaMon CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Ton INT
    SELECT @Ton = SoLuongTon FROM Mon WHERE MaMon = @MaMon
    RETURN @Ton
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThoiGianChoi]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhThoiGianChoi](@MaHD CHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Phut INT
    SELECT @Phut = DATEDIFF(MINUTE, GioBatDau, GioKetThuc)
    FROM HoaDon
    WHERE MaHD = @MaHD
    RETURN @Phut
END
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [char](10) NOT NULL,
	[TenBan] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[Gia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaMon] [char](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaBan] [char](10) NULL,
	[MaNV] [char](10) NULL,
	[MaKhach] [char](10) NULL,
	[GioBatDau] [datetime] NULL,
	[GioKetThuc] [datetime] NULL,
	[TongTien] [money] NULL,
	[NgayLap] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon_KhuyenMai]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon_KhuyenMai](
	[MaHD] [char](10) NOT NULL,
	[MaKM] [char](10) NOT NULL,
	[GiaTruocGiam] [money] NULL,
	[GiaSauGiam] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach](
	[MaKhach] [char](10) NOT NULL,
	[TenKhach] [nvarchar](100) NOT NULL,
	[SoHoaDon] [int] NULL,
	[TongChi] [int] NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [char](10) NOT NULL,
	[MaMon] [char](10) NULL,
	[NgayNhap] [date] NULL,
	[SoLuongNhap] [int] NULL,
	[SoLuongXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [char](10) NOT NULL,
	[TenKM] [nvarchar](100) NULL,
	[DieuKien] [nvarchar](200) NULL,
	[PhanTramGiam] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[MaMon] [char](10) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[DonGia] [money] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeDoanhThuTheoNhanVien]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--5.Thống kê doanh thu theo nhân viên
CREATE FUNCTION [dbo].[fn_ThongKeDoanhThuTheoNhanVien]
(
    @NgayBatDau DATE,
    @NgayKetThuc DATE
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        nv.MaNV,
        nv.HoTen,
        COUNT(hd.MaHD) AS SoHoaDon,
        SUM(hd.TongTien) AS TongDoanhThu,
        AVG(hd.TongTien) AS DoanhThuTrungBinh
    FROM NhanVien nv
    LEFT JOIN HoaDon hd ON nv.MaNV = hd.MaNV
    WHERE hd.NgayLap BETWEEN @NgayBatDau AND @NgayKetThuc
      AND hd.GioKetThuc IS NOT NULL
    GROUP BY nv.MaNV, nv.HoTen
)
GO
/****** Object:  View [dbo].[ViewChiTietHoaDon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewChiTietHoaDon] AS
SELECT 
    ct.MaHD,
    ct.MaMon,
    ct.SoLuong,
    m.DonGia,
    ct.SoLuong * m.DonGia AS ThanhTien
FROM 
    ChiTietHoaDon ct
JOIN 
    Mon m ON ct.MaMon = m.MaMon;
GO
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [Gia]) VALUES (N'B001      ', N'Bàn 1', N'Trống', 100000)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [Gia]) VALUES (N'B002      ', N'Bàn 2', N'Trống', 100000)
INSERT [dbo].[Ban] ([MaBan], [TenBan], [TrangThai], [Gia]) VALUES (N'B003      ', N'Bàn 3', N'Trống', 100000)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong]) VALUES (N'HD001     ', N'U001      ', 2)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong]) VALUES (N'HD002     ', N'A006      ', 2)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaMon], [SoLuong]) VALUES (N'HD002     ', N'U003      ', 4)
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [MaKhach], [GioBatDau], [GioKetThuc], [TongTien], [NgayLap]) VALUES (N'HD001     ', N'B002      ', N'NV002     ', N'KH001     ', CAST(N'2025-11-15T14:00:00.000' AS DateTime), CAST(N'2025-11-15T16:00:00.000' AS DateTime), 200000.0000, CAST(N'2025-11-15' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [MaKhach], [GioBatDau], [GioKetThuc], [TongTien], [NgayLap]) VALUES (N'HD002     ', N'B005      ', N'NV002     ', N'KH003     ', CAST(N'2025-11-15T15:30:00.000' AS DateTime), CAST(N'2025-11-15T18:00:00.000' AS DateTime), 300000.0000, CAST(N'2025-11-15' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaBan], [MaNV], [MaKhach], [GioBatDau], [GioKetThuc], [TongTien], [NgayLap]) VALUES (N'HD003     ', N'B001      ', N'NV002     ', N'KH002     ', CAST(N'2025-11-16T16:00:00.000' AS DateTime), CAST(N'2025-11-16T17:30:00.000' AS DateTime), 150000.0000, CAST(N'2025-11-16' AS Date))
GO
INSERT [dbo].[HoaDon_KhuyenMai] ([MaHD], [MaKM], [GiaTruocGiam], [GiaSauGiam]) VALUES (N'HD002     ', N'KM001     ', NULL, NULL)
INSERT [dbo].[HoaDon_KhuyenMai] ([MaHD], [MaKM], [GiaTruocGiam], [GiaSauGiam]) VALUES (N'HD020     ', N'KM001     ', NULL, NULL)
INSERT [dbo].[HoaDon_KhuyenMai] ([MaHD], [MaKM], [GiaTruocGiam], [GiaSauGiam]) VALUES (N'HD025     ', N'KM001     ', NULL, NULL)
GO
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [SoHoaDon], [TongChi], [SoDienThoai]) VALUES (N'KH001     ', N'Nguyễn Minh Đức', 11, 750833, N'0987685746')
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [SoHoaDon], [TongChi], [SoDienThoai]) VALUES (N'KH002     ', N'Trần Quang Hải', 6, 493533, N'0768574658')
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [SoHoaDon], [TongChi], [SoDienThoai]) VALUES (N'KH003     ', N'Lê Thị Mai', 8, 639333, N'0895667465')
GO
INSERT [dbo].[Kho] ([MaKho], [MaMon], [NgayNhap], [SoLuongNhap], [SoLuongXuat]) VALUES (N'K001      ', N'U001      ', CAST(N'2023-10-01' AS Date), 200, 100)
INSERT [dbo].[Kho] ([MaKho], [MaMon], [NgayNhap], [SoLuongNhap], [SoLuongXuat]) VALUES (N'K002      ', N'U002      ', CAST(N'2023-10-01' AS Date), 150, 80)
INSERT [dbo].[Kho] ([MaKho], [MaMon], [NgayNhap], [SoLuongNhap], [SoLuongXuat]) VALUES (N'K003      ', N'U003      ', CAST(N'2023-10-05' AS Date), 100, 50)
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [DieuKien], [PhanTramGiam], [NgayBatDau], [NgayKetThuc]) VALUES (N'KM001     ', N'Giảm giá cuối tuần', N'Hóa đơn trên 500k', 20, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-30' AS Date))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [DieuKien], [PhanTramGiam], [NgayBatDau], [NgayKetThuc]) VALUES (N'KM002     ', N'Khuyến mãi thành viên', N'Thành viên mới', 15, CAST(N'2025-10-02' AS Date), CAST(N'2025-12-23' AS Date))
GO
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [SoLuongTon]) VALUES (N'A006      ', N'Khoai tây chiên', 30000.0000, 58)
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [SoLuongTon]) VALUES (N'A007      ', N'Trái cây', 10000.0000, 100)
INSERT [dbo].[Mon] ([MaMon], [TenMon], [DonGia], [SoLuongTon]) VALUES (N'U001      ', N'Coca Cola', 20000.0000, 75)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [TenDangNhap]) VALUES (N'NV001     ', N'Nguyễn Văn An', CAST(N'1983-05-01' AS Date), N'Nam', N'0912345678', N'Hà Nội', N'admin')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [TenDangNhap]) VALUES (N'NV002     ', N'Trần Thị Bình', CAST(N'1995-05-20' AS Date), N'Nữ', N'0987654321', N'Hồ Chí Minh', N'thungan1')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [TenDangNhap]) VALUES (N'NV003     ', N'Lê Văn Cường', CAST(N'1988-03-10' AS Date), N'Nam', N'0909123456', N'Đà Nẵng', N'quanly1')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'admin', N'admin123', N'ADMIN')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'quanly1', N'ql123', N'Quản Lý')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [VaiTro]) VALUES (N'thukho1', N'tk123', N'Thủ Kho')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MaMon]    Script Date: 2026/04/28 23:11:55 ******/
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [UQ_MaMon] UNIQUE NONCLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ban] ADD  DEFAULT ((100000)) FOR [Gia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[Khach] ([MaKhach])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDon_KhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([MaMon])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đặt Trước' OR [TrangThai]=N'Đang Chơi' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Khach]  WITH CHECK ADD  CONSTRAINT [CHK_SoHoaDon] CHECK  (([SoHoaDon]>=(0)))
GO
ALTER TABLE [dbo].[Khach] CHECK CONSTRAINT [CHK_SoHoaDon]
GO
ALTER TABLE [dbo].[Khach]  WITH CHECK ADD  CONSTRAINT [CHK_TongChi] CHECK  (([TongChi]>=(0)))
GO
ALTER TABLE [dbo].[Khach] CHECK CONSTRAINT [CHK_TongChi]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongNhap] CHECK  (([SoLuongNhap]>=(0)))
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [CHK_SoLuongNhap]
GO
ALTER TABLE [dbo].[Kho]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongXuat] CHECK  (([SoLuongXuat]>=(0)))
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [CHK_SoLuongXuat]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([PhanTramGiam]>=(0) AND [PhanTramGiam]<=(100)))
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [CHK_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [CHK_DonGia]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [CHK_SoLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [CHK_SoLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_VaiTro] CHECK  (([VaiTro]=N'Khách' OR [VaiTro]=N'Thủ Kho' OR [VaiTro]=N'Quản Lý' OR [VaiTro]=N'Thu Ngân' OR [VaiTro]=N'ADMIN'))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_VaiTro]
GO
/****** Object:  StoredProcedure [dbo].[sp_ApDungKhuyenMai]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--5.Áp dụng khuyến mãi cho hóa đơn
CREATE PROC [dbo].[sp_ApDungKhuyenMai]
    @MaHD CHAR(10),
    @MaKM CHAR(10)
AS
BEGIN
    INSERT INTO HoaDon_KhuyenMai (MaHD, MaKM)
    VALUES (@MaHD, @MaKM)

    DECLARE @PhanTramGiam INT
    SELECT @PhanTramGiam = PhanTramGiam FROM KhuyenMai WHERE MaKM = @MaKM

    UPDATE HoaDon
    SET TongTien = TongTien * (100 - @PhanTramGiam) / 100
    WHERE MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDifferential]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BackupDifferential]
AS
BEGIN
    DECLARE @BackupPath NVARCHAR(500)
    DECLARE @FileName NVARCHAR(500)
    
    SET @BackupPath = N'D:\Backup\QuanLyBida\Diff\'
    SET @FileName = @BackupPath + N'QuanLyBida_Diff_' + 
                    REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR, GETDATE(), 120), '-', ''), ' ', '_'), ':', '') + 
                    N'.bak'
    
    BACKUP DATABASE QuanLyBida 
    TO DISK = @FileName
    WITH DIFFERENTIAL, INIT, COMPRESSION, STATS = 10
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupFull]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Tạo các procedure cho từng loại backup
CREATE PROC [dbo].[sp_BackupFull]
AS
BEGIN
    DECLARE @BackupPath NVARCHAR(500)
    DECLARE @FileName NVARCHAR(500)
    
    SET @BackupPath = N'D:\Backup\QuanLyBida\Full\'
    SET @FileName = @BackupPath + N'QuanLyBida_Full_' + 
                    REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR, GETDATE(), 120), '-', ''), ' ', '_'), ':', '') + 
                    N'.bak'
    
    BACKUP DATABASE QuanLyBida 
    TO DISK = @FileName
    WITH INIT, COMPRESSION, STATS = 10
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupTransactionLog]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BackupTransactionLog]
AS
BEGIN
    DECLARE @BackupPath NVARCHAR(500)
    DECLARE @FileName NVARCHAR(500)
    
    SET @BackupPath = N'D:\Backup\QuanLyBida\Log\'
    SET @FileName = @BackupPath + N'QuanLyBida_Log_' + 
                    REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR, GETDATE(), 120), '-', ''), ' ', '_'), ':', '') + 
                    N'.trn'
    
    BACKUP LOG QuanLyBida 
    TO DISK = @FileName
    WITH INIT, COMPRESSION, STATS = 10
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BatGio]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BatGio]
    @MaBan CHAR(10),
    @MaNV CHAR(10),
    @MaKhach CHAR(10) = NULL
AS
BEGIN
    DECLARE @MaHD CHAR(10)
    
    -- Get the next sequential number
    SELECT @MaHD = 'HD' + RIGHT('000' + CAST(ISNULL(MAX(CAST(SUBSTRING(MaHD, 3, LEN(MaHD)-2) AS INT)), 0) + 1 AS VARCHAR(3)), 3)
    FROM HoaDon
    
    INSERT INTO HoaDon (MaHD, MaBan, MaNV, MaKhach, GioBatDau)
    VALUES (@MaHD, @MaBan, @MaNV, @MaKhach, GETDATE())

    UPDATE Ban SET TrangThai = N'Đang Chơi' WHERE MaBan = @MaBan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDiemThuongKhachHang]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--3.Cập nhật điểm thưởng cho khách hàng
CREATE PROC [dbo].[sp_CapNhatDiemThuongKhachHang]
AS
BEGIN
    DECLARE @MaKhach CHAR(10), @TongChi INT, @SoHoaDon INT
    DECLARE @DiemThuong INT
    
    DECLARE cur CURSOR FOR 
    SELECT MaKhach, TongChi, SoHoaDon 
    FROM Khach
    
    OPEN cur
    FETCH NEXT FROM cur INTO @MaKhach, @TongChi, @SoHoaDon
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        --1 điểm cho mỗi 100k chi tiêu + 5 điểm cho mỗi hóa đơn
        SET @DiemThuong = (@TongChi / 100000) + (@SoHoaDon * 5)
        
        PRINT 'Khách ' + @MaKhach + ' - Điểm thưởng: ' + CAST(@DiemThuong AS NVARCHAR)
        
        FETCH NEXT FROM cur INTO @MaKhach, @TongChi, @SoHoaDon
    END
    
    CLOSE cur
    DEALLOCATE cur
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiBan]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------CURSOR------

--1.Duyệt và cập nhật trạng thái bàn
CREATE PROC [dbo].[sp_CapNhatTrangThaiBan]
AS
BEGIN
    DECLARE @MaBan CHAR(10)
    DECLARE cur CURSOR FOR 
    SELECT MaBan FROM Ban WHERE TrangThai = 'Đang Chơi'

    OPEN cur
    FETCH NEXT FROM cur INTO @MaBan

    WHILE @@FETCH_STATUS = 0
    BEGIN
        UPDATE Ban SET TrangThai = 'Trống' WHERE MaBan = @MaBan
        FETCH NEXT FROM cur INTO @MaBan
    END

    CLOSE cur
    DEALLOCATE cur
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenBan]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChuyenBan]
    @MaHD CHAR(10),
    @MaBanMoi CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        DECLARE @MaBanCu CHAR(10)
        SELECT @MaBanCu = MaBan FROM HoaDon WHERE MaHD = @MaHD
        IF EXISTS (SELECT 1 FROM Ban WHERE MaBan = @MaBanMoi AND TrangThai = 'Trống')
        BEGIN
            -- Cập nhật hóa đơn sang bàn mới
            UPDATE HoaDon SET MaBan = @MaBanMoi WHERE MaHD = @MaHD
            
            -- Cập nhật trạng thái bàn cũ về trống
            UPDATE Ban SET TrangThai = N'Trống' WHERE MaBan = @MaBanCu
            
            -- Cập nhật trạng thái bàn mới thành đang chơi
            UPDATE Ban SET TrangThai = N'Đang Chơi' WHERE MaBan = @MaBanMoi
            
            COMMIT TRANSACTION
            PRINT N'Chuyển bàn thành công!'
        END
        ELSE
        BEGIN
            RAISERROR(N'Bàn mới không khả dụng!', 16, 1)
            ROLLBACK TRANSACTION
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        RAISERROR(N'Lỗi khi chuyển bàn!', 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HoanTatHoaDon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


------TRANSACTION-------

--1.Giao dịch hoàn tất hóa đơn
CREATE PROC [dbo].[sp_HoanTatHoaDon]
    @MaHD CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        UPDATE HoaDon SET GioKetThuc = GETDATE() WHERE MaHD = @MaHD
        EXEC sp_TinhTienHoaDon @MaHD
        COMMIT
    END TRY
    BEGIN CATCH
        ROLLBACK
        RAISERROR('Lỗi hoàn tất hóa đơn!', 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NhapHang]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhapHang]
    @MaMon CHAR(10),
    @SoLuongNhap INT
AS
BEGIN
    DECLARE @MaKho CHAR(10)
	SELECT @MaKho = 'HD' + RIGHT('000' + CAST(ISNULL(MAX(CAST(SUBSTRING(MaKho, 3, LEN(MaKho)-2) AS INT)), 0) + 1 AS VARCHAR(3)), 3)
    FROM Kho

    INSERT INTO Kho (MaKho, MaMon, NgayNhap, SoLuongNhap, SoLuongXuat)
    VALUES (@MaKho, @MaMon, GETDATE(), @SoLuongNhap, 0)

    UPDATE Mon SET SoLuongTon = SoLuongTon + @SoLuongNhap WHERE MaMon = @MaMon
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NhapHangVaCapNhatGia]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.Giao dịch nhập hàng và cập nhật giá
CREATE PROC [dbo].[sp_NhapHangVaCapNhatGia]
    @MaMon CHAR(10),
    @SoLuong INT,
    @DonGiaMoi MONEY
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        EXEC sp_NhapHang @MaMon, @SoLuong
        UPDATE Mon SET DonGia = @DonGiaMoi WHERE MaMon = @MaMon
        COMMIT
    END TRY
    BEGIN CATCH
        ROLLBACK
        RAISERROR('Lỗi nhập hàng!', 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThuThang]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.Thống kê doanh thu theo tháng
CREATE PROC [dbo].[sp_ThongKeDoanhThuThang]
    @Thang INT, @Nam INT
AS
BEGIN
    SELECT 
        MONTH(NgayLap) AS Thang,
        SUM(TongTien) AS DoanhThu
    FROM HoaDon
    WHERE MONTH(NgayLap) = @Thang AND YEAR(NgayLap) = @Nam
    GROUP BY MONTH(NgayLap)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTienHoaDon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TinhTienHoaDon]
    @MaHD CHAR(10), @MaKhach CHAR(10)
AS
BEGIN
    DECLARE @TongTien MONEY, @TienBan MONEY, @ThoiGianChoi INT, @GiaBan INT, @MaBan CHAR(10)

    UPDATE HoaDon 
    SET GioKetThuc = GETDATE() 
    WHERE MaHD = @MaHD

	UPDATE Khach
	SET SoHoaDon=SoHoaDon + 1
	WHERE MaKhach = @MaKhach

    SELECT 
        @MaBan = hd.MaBan,
        @ThoiGianChoi = dbo.fn_TinhThoiGianChoi(@MaHD), 
        @GiaBan = b.Gia
    FROM HoaDon hd
    INNER JOIN Ban b ON hd.MaBan = b.MaBan
    WHERE hd.MaHD = @MaHD

    SET @TienBan = (CAST(@ThoiGianChoi AS FLOAT) / 60.0) * CAST(@GiaBan AS MONEY)

    SELECT @TongTien = SUM(SoLuong * DonGia)
    FROM ViewChiTietHoaDon
    WHERE MaHD = @MaHD

    -- Nếu không gọi món thì set = 0
    IF @TongTien IS NULL
        SET @TongTien = 0
    
    SET @TongTien = @TienBan + @TongTien

    UPDATE HoaDon
    SET TongTien = @TongTien
    WHERE MaHD = @MaHD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TopKhachHangThanthiet]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--6.Thống kê top khách hàng thân thiết
CREATE PROC [dbo].[sp_TopKhachHangThanthiet]
    @TopN INT
AS
BEGIN
    SELECT TOP (@TopN)
        k.MaKhach,
        k.TenKhach,
        k.SoHoaDon,
        k.TongChi,
        dbo.fn_DiemKhachHang(k.MaKhach) AS DiemThanThiet
    FROM Khach k
    ORDER BY k.TongChi DESC, k.SoHoaDon DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaKhach]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaKhach]
    @MaKhach CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Khach WHERE MaKhach = @MaKhach)
        BEGIN
            RAISERROR(N'Khách hàng không tồn tại!', 16, 1)
            ROLLBACK TRANSACTION
            RETURN
        END

        -- Step 1: Set MaKhach to NULL in HoaDon table
        UPDATE HoaDon 
        SET MaKhach = NULL 
        WHERE MaKhach = @MaKhach

        -- Step 2: Delete the Customer
        DELETE FROM Khach WHERE MaKhach = @MaKhach

        COMMIT TRANSACTION
        PRINT N'Đã xóa khách hàng ' + @MaKhach + N' thành công.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaKhuyenMai]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaKhuyenMai]
    @MaKM CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Check if Promotion exists
        IF NOT EXISTS (SELECT 1 FROM KhuyenMai WHERE MaKM = @MaKM)
        BEGIN
            RAISERROR(N'Khuyến mãi không tồn tại!', 16, 1)
            ROLLBACK TRANSACTION
            RETURN
        END

        -- Step 1: Delete the history of this promotion being applied to invoices
        -- Note: This removes the "tag" from the invoice, but the invoice Total Money remains unchanged
        DELETE FROM HoaDon_KhuyenMai WHERE MaKM = @MaKM

        -- Step 2: Delete the Promotion itself
        DELETE FROM KhuyenMai WHERE MaKM = @MaKM

        COMMIT TRANSACTION
        PRINT N'Đã xóa khuyến mãi ' + @MaKM
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_XoaMon]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--9.Xóa món
CREATE PROC [dbo].[sp_XoaMon]
    @MaMon CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM Mon WHERE MaMon = @MaMon)
        BEGIN
            RAISERROR(N'Món không tồn tại!', 16, 1)
            ROLLBACK TRANSACTION
            RETURN
        END

        -- Step 1: Delete related import/export history in Kho
        DELETE FROM Kho WHERE MaMon = @MaMon

        -- Step 2: Delete details in invoices containing this item
        DELETE FROM ChiTietHoaDon WHERE MaMon = @MaMon

        -- Step 3: Delete the Item itself
        DELETE FROM Mon WHERE MaMon = @MaMon

        COMMIT TRANSACTION
        PRINT N'Đã xóa món ' + @MaMon + N' và các dữ liệu liên quan.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhanVien]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaNhanVien]
    @MaNV CHAR(10)
AS
BEGIN
    BEGIN TRANSACTION
    BEGIN TRY
        -- Check if employee exists
        IF NOT EXISTS (SELECT 1 FROM NhanVien WHERE MaNV = @MaNV)
        BEGIN
            RAISERROR(N'Nhân viên không tồn tại!', 16, 1)
            ROLLBACK TRANSACTION
            RETURN
        END

        -- Step 1: Set MaNV to NULL in HoaDon table (Preserve invoice history)
        UPDATE HoaDon 
        SET MaNV = NULL 
        WHERE MaNV = @MaNV

        -- Step 2: Delete the Employee
        DELETE FROM NhanVien WHERE MaNV = @MaNV

        COMMIT TRANSACTION
        PRINT N'Đã xóa nhân viên ' + @MaNV + N' và cập nhật lịch sử hóa đơn.'
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrorMessage, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuatBaoCaoTonKho]    Script Date: 2026/04/28 23:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--2.Xuất báo cáo tồn kho
CREATE PROC [dbo].[sp_XuatBaoCaoTonKho]
AS
BEGIN
    DECLARE @MaMon CHAR(10), @TenMon NVARCHAR(100), @Ton INT
    DECLARE cur CURSOR FOR 
    SELECT MaMon, TenMon, SoLuongTon FROM Mon

    OPEN cur
    FETCH NEXT FROM cur INTO @MaMon, @TenMon, @Ton

    WHILE @@FETCH_STATUS = 0
    BEGIN
        PRINT @TenMon + ' - Tồn: ' + CAST(@Ton AS NVARCHAR)
        FETCH NEXT FROM cur INTO @MaMon, @TenMon, @Ton
    END

    CLOSE cur
    DEALLOCATE cur
END
GO
USE [master]
GO
